<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Public Comics</title>
    <script src="https://app.userapp.io/js/userapp.client.js"></script>
    <script src="https://app.userapp.io/js/angularjs.userapp.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.2/slate/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/publicComics.js"></script>
</head>
<body ng-app="publicComics" ng-controller="MainCtrl">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Public Comics</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<ui-view></ui-view>

<script type="text/ng-template" id="/home.html">
    <h1>Public Comics</h1>

    <div ng-show="user.authenticated">
        <p>Welcome back!</p>
        <a href="#" ua-logout>Log Out</a>
    </div>

    <div ng-hide="user.authenticated">
        <p><a href="#/signup">Sign up</a></p>
        <p><a href="#/login">Log in</a></p>
    </div>
</script>

</body>
</html>
