<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/sass.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Wesadfasdfsadfasdlcome to <%= title %></p>
  </body>
</html>
