<div>
  <ul class="nav nav-tabs">
    <li ng-class="{ active: tab.isSet(1) }">
      <a href ng-click="tab.setTab(1)">Description</a>
    </li>
    <li ng-class="{ active: tab.isSet(2) }">
      <a href ng-click="tab.setTab(2)">Specs</a>
    </li>
    <li ng-class="{ active: tab.isSet(3) }">
      <a href ng-click="tab.setTab(3)">Reviews</a>
    </li>
  </ul>

  <div id="myTabContent" class="tab-content">
    <product-description class="tab-pane fade active in" ng-show="tab.isSet(1)">
    </product-description>
    <div product-specs ng-show="tab.isSet(2)" class="tab-pane fade active in">
    </div>
    <div product-reviews class="tab-pane fade active in" ng-show="tab.isSet(3)">
    </div>
  </div>
