<br />

<div class="row">
    <div class="col-lg-9">
        <div class="home-carousel">
            <img src="/images/vintage_images/vintage_1.jpg" class="home-vintage-image " />
            <img src="/images/vintage_images/vintage_2.jpg" class="home-vintage-image" />
            <img src="/images/vintage_images/vintage_3.jpg" class="home-vintage-image" />
            <img src="/images/vintage_images/vintage_4.jpg" class="home-vintage-image" />
        </div>
    </div>
    <div class="col-lg-3 home-vintage-text">
        <h2>Read vintage comics from the public domain.</h2>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.home-carousel').slick({
            arrows: false,
            dots: true,
            infinite: true,
            speed: 500,
            fade: true,
            cssEase: 'linear'
        });
    });
</script>

<hr />

<div ng-repeat="comic in comics">
    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                <div class="row">
                    <div class="col-lg-3">
                        <a href="#"><img class="home-issue-cover" ng-src="{{comic.cover}}" /></a>
                    </div>
                    <div class="col-lg-9">
                        <h3 class="comic-title"><a href="#">{{comic.title}} #{{comic.number}}</a></h3>
                        <p>Uploaded on: {{comic.uploaded_at | date: 'MMM d, y' : 'UTC'}}</p>
                        <div>
                            <span ng-repeat="tag in comic.tags">
                                <a href="#" class="btn btn-default btn-xs">{{tag}}</a>
                            </span>
                        </div>
                        <ul class="comic-stats-list">
                            <li><a href="#">Pages </a><span class="comic-stats-badge badge">{{comic.pages.length}}</span></li>
                            <li><a href="#">Comments </a><span class="comic-stats-badge badge">4</span></li>
                        </ul>
                        <div class="home-issue-preview-pages" style="float:left;">
                            <span ng-repeat="page in comic.pages | limitTo: 6">
                                <a href="#"><img class="home-issue-preview-page" ng-src="{{page}}" /></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 home-pagination">
        <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>
</div>